<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <% if (historyList.length > 0) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Latest presentations</h3>
          </div>
          <div class="panel-body">
            <form id="header" name="header">
              <select name="history">
                <% historyList.forEach(function(history){ %>
                  <option value="<%= history.presId %>"><%= history.presId %> : <%= history.url %></option>
                <% }) %>
              </select>
              <button class="btn btn-primary" type="button" onclick="jumpToSelectedHistory(false);">View</button>
              <button class="btn btn-default" type="button" onclick="jumpToSelectedHistory(true);">Present</button>
              <button class="btn btn-default" type="button" onclick="jumpToPublicizePage();">Publicize</button>
            </form>
          </div>
        </div>
      <% } %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Register a presentation</h3>
        </div>
        <div class="panel-body">
          <form id="main" name="main" method="post" action="/presentations/" role="form" autocomplete="off">
            <div id="inputArea">
            
              <div class="form-group">
                <label for="presId">Presentation Id <small>(optional)</small></label>
                <input id="presId" name="presId" class="form-control" type="text" placeholder="e.g. my-cool-pres" />
                <span class="help-block">If you don't specify an ID, a random one will be generated for you.</span>
                  <% if (error && error.presId){ %>
                  <p style="color:red;"><%= error.presId %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="url">SlideShare URL <small>(required)</small></label>
                <input id="url" name="url" class="form-control" type="url" required pattern="https?://(www.)?slideshare.net/.+/.+/?" title="Please enter a SlideShare URL of the form 'http://www.slideshare.net/username/presentation-name'" placeholder="e.g. http://www.slideshare.net/cb372/guess-the-country" autocomplete="off"/>
                <span class="help-block">Paste the URL of your SlideShare slides here.</span>
                <% if (error && error.url){ %>
                  <p style="color:red;"><%= error.url %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="password">Password <small>(required)</small></label>
                <input id="password" name="password" class="form-control" type="password" required autocomplete="off" />
                <span class="help-block">Choose a password to protect your presentation. You'll need to enter this when you want to present.</span>
                <% if (error && error.password){ %>
                  <p style="color:red;"><%= error.password %></p>
                <% } %>
              </div>

              <button class="btn btn-primary" type="Submit">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <script>
      function jumpToPublicizePage(){
        var presId = getSelectedPresId();
        if (presId){
          var suffix = "/publicize";
          document.location.href = "/presentations/" + presId + suffix;
        }
      }
      // 選択中の履歴を表示する
      function jumpToSelectedHistory(isPresenter){
        var presId = getSelectedPresId();
        if (presId){
          var suffix = (isPresenter) ? "/present" : "";
          document.location.href = "/presentations/" + presId + suffix;
        }
      }
      function getSelectedPresId(){
        var select = document.getElementsByName("history")[0];
        return select.options[select.selectedIndex].value;
      }
    </script>

  </body>
</html>
